@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    /* background: var(--background); */
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.swiper-slide-thumb-active.table-thumb{
    @apply pointer-events-none bg-[radial-gradient(ellipse_100%_100%_at_-20%_0%,rgba(120,79,255,0.3),rgba(9,9,11,0.8))];
}

.transform-center{
    transform: translate(-50%, -50%);
}